<div class="bg-dark text-white border-end" id="sidebar-wrapper" style="width: 250px; min-height: 100vh;">
    <div class="sidebar-heading text-center py-4 fs-4 fw-bold border-bottom">
        <i class="bi bi-speedometer2"></i> Admin
    </div>
    <div class="list-group list-group-flush mt-3">
        <a href="{% url 'user:dashboard' %}" class="list-group-item list-group-item-action bg-dark text-white">
            <i class="bi bi-house-door-fill me-2"></i> Dashboard
        </a>
        <a href="{% url 'user:all-blogs' %}" class="list-group-item list-group-item-action bg-dark text-white">
            <i class="bi bi-house-door-fill me-2"></i> Blogs
        </a>
         <a href="{% url 'user:all-categories' %}" class="list-group-item list-group-item-action bg-dark text-white">
            <i class="bi bi-house-door-fill me-2"></i> Categories
        </a>
         <a href="{% url 'user:all-subcategories' %}" class="list-group-item list-group-item-action bg-dark text-white">
            <i class="bi bi-house-door-fill me-2"></i> Subcategories
        </a>
          <a href="{% url 'user:all_contact_form' %}" class="list-group-item list-group-item-action bg-dark text-white">
            <i class="bi bi-house-door-fill me-2"></i> Contact_form
        </a>
        <a href="{% url 'user:profile' %}" class="list-group-item list-group-item-action bg-dark text-white">
            <i class="bi bi-house-door-fill me-2"></i> Profile
        </a>
        <a href="{% url 'user:change-password' %}" class="list-group-item list-group-item-action bg-dark text-white">
            <i class="bi bi-house-door-fill me-2"></i> Password Change
        </a>
     
    </div>
</div>
