<div class="bg-dark text-white border-end" id="sidebar-wrapper" style="width: 250px; min-height: 100vh;">
    <div class="sidebar-heading text-center py-4 fs-4 fw-bold border-bottom">
        <i class="bi bi-speedometer2"></i> Admin
    </div>
    <div class="list-group list-group-flush mt-3">
        <a href="{% url 'user:dashboard' %}" class="list-group-item list-group-item-action bg-dark text-white">
            <i class="bi bi-house-door-fill me-2"></i> Dashboard
        </a>
     
    </div>
</div>
